<%= render layout: "form" do %>
  <h2 class="abs-line-height small-xs-bottom-margin">Secured Account</h2>
  <p class="small-xs-vertical-margin">This account has been secured with an MFA device. Enter the code from the device to complete login.</p>
  <form action="<%= login_path %>" method="POST" class="form small-xs-top-margin" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= render partial: 'shared/errors' if @errors %>
    <input value="<%= @username %>" name="username" type="hidden">
    <input value="<%= @password %>" name="password" type="hidden">
    <div class="form-group small-xs-vertical-margin" data-fields="email">
      <div class="sr-label">
        <label>MFA Code</label>
        <div>
          <input name="otp" class="form-control" placeholder="MFA Code" type="text">
        </div>
      </div>
    </div>
    <div class="form-group small-xs-vertical-margin">
      <input type="submit" class="login-submit btn btn-positive micro-xs-padding" value="Login">
    </div>
    <div class="form-group small-xs-vertical-margin">
      <p><a href="https://stockflare.com/mfa/reset" target="_blank">I've lost my MFA Device</a></p>
    </div>
  </form>
<% end %>
