<div class="micro-xs-horizontal-padding small-sm-horizontal-padding">
  <article class="micro-xs-padding small-sm-padding" itemscope itemtype="http://schema.org/Article">
    <meta itemprop="datePublished" content="<%= post.created_at %>">
    <meta itemprop="author" content="<%= post.source.title %>">
    <div class="row">
      <div class="col-md-1 col-xs-2 text-center">
        <%= render partial: 'vote', locals: { post: post, vote: post.votes } %>
      </div>
      <div class="col-md-9">
        <h2 class="abs-line-height">
          <a href="<%= post.url %>" title="Posted <%= time_ago_in_words(post.created_at) %> ago" target="_blank" itemprop="url">
            <span itemprop="headline"><%= post.title %></span>
          </a>
        </h2>
        <p class="micro-xs-vertical-margin" itemprop="about"><%= post.excerpt.strip %></p>
        <div class="tags clearfix">
          <% post.tags.each do |key, value| %>
            <% if value >= 1.00 %>
            <div class="tag micro-xs-bottom-margin micro-xs-right-margin" itemprop="keywords"
              data-tag="<%= key %>" data-probability="<%= value %>">
              <%= key %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-2 clearfix">
        <a href="http://<%= post.source.domain %>" target="_blank" itemprop="creator" title="<%= post.source.title %>">
          <div class="porthole pull-right">
            <%= image_tag("sources/#{post.source.permalink}.png", alt: post.source.title, title: post.source.title) %>
          </div>
        </a>
        <!-- <a href="#" class="share">
          <i class="fa fa-twitter fa-lg"></i>
        </a> -->
      </div>
    </div>
  </article>
</div>
