<!DOCTYPE html>
<html>
<head>
  <title>News</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <a class="navbar-brand" href="/"><%= image_tag("logo.png", :alt => "rss feed") %></a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><%= image_tag("madeby.png", :alt => "rss feed") %></a></li>
        <li><a href="#"><i class="fa fa-search fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-envelope fa-lg"></i></a></li>
        <li><a href="#"><i class="fa fa-rss fa-lg"></i></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><button type="button" class="btn btn-default transparent">Login</button></a></li>
        <li><a href="/register"><button type="button" class="btn btn-success bright">Join for Free &rarr;</button></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="nav-right">
  <div class="nav-open text-center">
    <i class="fa fa-bars fa-lg"></i>
  </div>
</div>

<%= yield %>

</body>
</html>
